// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #c99e02; /* Altere a cor primária */
    --ion-color-primary-rgb: 201, 158, 2; /* RGB para efeitos */
    --ion-color-secondary: #957605; /* Outra cor, se necessário */
    --ion-color-tertiary: #e7d234; /* Cor terciária para seleção */
}