body{
background-color:green;
}
#tab{
color:white;
font-size:40px;
text-align:center;
background-color:black;
}
#fim{
background-color:black;
color:white;
}
#lib{
color:blue;
}
#cor1{
font-size:40px;
color:blue;
}
#cor2{
font-size:40px;
color:red;
}
#reb{
color:red;
}
#t{
font-family:Tahoma;
font-size:14px;
text-align:center;
width:99%;
height:98%;
position:absolute;
background-image:linear-gradient(white,gray,gray);
color:black;
font-weight:bold;
border-width:1px;
}
#num{
background-color:green;
}
legend{
font-family:Baskerville Old Face;
font-size:19px;
}
#cad{
background-image:url("../img/campo.jpg");
background-size:100% 100%;
font-family:Tahoma;
font-size:9px;
text-align:center;
width:99%;
height:98%;
color:black;

}
#cad2{
background-image:url("../img/campo.jpg");
background-size:100% 120%;
font-family:Tahoma;
font-size:35px;
text-align:center;
width:99%;
height:98%;
color:black;
}
#cada {
font-size:35px;
width:30%;
height:490px;
}

#cab{
margin-top:-10px;
width:100%;
height:120px;
position:absolute;
color:white;
background-image:url("../img/banner.jpg");
background-size:100% 100%;
text-align:center;
font-size:75px;
font-family:GungsuhChe;
font-weight:100%;
}
#img{
width:100%;
height:150px;
}
#dir{
background-color:green;
position:absolute;
width:25%;
height:620px;
margin-top:150px;
margin-left:75%;
background-image:url("../img/campo2.jpg");
border:1px solid #AAA;
border-radius:10px;
color:white;
font-size:16px;
font-weight:bold;
padding:5px 0px;
font-family:Georgia;
}
#cont{
position:absolute;
width:75%;
height:620px;
margin-top:150px;

}

#x{
width:100%;
height:100%;
}
#fim2{
text-decoration:none;
}
label {
display: inline-block;
font-size: 15px;
font-weight: bold;
width:90px;
}
button {

background-color:white;
background-image: linear-gradient(top, #FFF, #E5E5E5);
border: 0 solid #AAA;
border-radius: 13px;
color: black;
font-size: 16px;
font-weight: bold;
padding: 5px 10px;
}

button:hover{
background-color: black;
background-image: linear-gradient(top,white,gold);
border-color: gray;
box-shadow: inset 3px 5px 2px rgba(000, 150, 123, 0.3), 0 0 3px white;
color: green;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
}
button:active  {
background-color: gold;
background-image: none;
border-color: gray;
box-shadow: inset 0 2px 1px rgba(0,0,0, 0.15);
}

#sexo {
width:200px;
}
#cadastro {
width:80%;
height:490px;
font-size:27px
}
#cadastro2 {
height:440px;
font-size:15px
}
legend {
text-align:center;
}
#imp{
background-color:white;
color:white;
height:20px;
color:black;
}
.hint {
background-color:black;
border-radius: 3px;
border: 1px solid #CCC;
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
display: inline-block;
font-size: 15px;
margin-left: 20px;
padding: 3px;
color:green;
}
.hint {
display: none;
}
input:focus + .hint{
display: inline-block;
}
p{
text-align:center;
}

#menu {
font-family:Rockwell;
word-spacing:10px;
background-image:linear-gradient(black,green,black);
border:1px solid #AAA;
border-radius:9px;
color:white;
font-size:16px;
font-weight:bold;
padding:5px 0px;
position:absolute;
width:100%;
height:30px;
margin-top:110px;
}
#menu2{

word-spacing:3px;
color:white;
font-size:25px;
border: 1px solid #AAA;
border-radius:5px;
text-decoration:none;
}
#menu2:hover {
background-color: white;
background-image: linear-gradient(top,white,gold);
border-color: gray;
box-shadow: inset 3px 5px 2px rgba(000, 150, 123, 0.3), 1px 2px 3px black;
color: black;
text-shadow: 1px 51px 0 rgba(3, 5, 9, 0.6);
}
#menu2:active {
background-color: gold;
background-image: none;
border-color: gray;
box-shadow: inset 6px 22px 11px rgba(0,0,0, 0.15);
}

select{
background-color:white;
background-image: linear-gradient(top, #FFF, #E5E5E5);
border: 0 solid #AAA;
border-radius: 13px;
color:black;
font-size: 10px;
font-weight: bold;
padding: 5px 5px;
}