body
{background-color:red;
}
label {
display: inline-block;
font-size: 15px;
font-weight: bold;
width:  90px;
}
button {
background-color: #8F8FBD;
background-image: linear-gradient(top, #FFF, #E5E5E5);
border: 1px solid #AAA;
border-radius: 13px;
color:#00FFFF;
font-size: 16px;
font-weight: bold;
padding: 5px 10px;
}

button:hover {
background-color: #285582;
background-image: linear-gradient(top, #3775B3, #285582);
border-color: #204569;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 3px #3775B3;
color: #FFF;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
}
button:active {
background-color: #204569;
background-image: none;
border-color: #1A3754;
box-shadow: inset 0 2px 1px rgba(0,0,0, 0.15);
}

#reset {
background-color: #8F8FBD;
background-image: linear-gradient(top, #FFF, #E5E5E5);
border: 1px solid #AAA;
border-radius: 13px;
color:#00FFFF;
font-size: 16px;
font-weight: bold;
padding: 5px 10px;
}

#reset:hover {
background-color: #285582;
background-image: linear-gradient(top, #3775B3, #285582);
border-color: #204569;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 3px #3775B3;
color: #FFF;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
}

#reset:active {
background-color: #204569;
background-image: none;
border-color: #1A3754;
box-shadow: inset 0 2px 1px rgba(0,0,0, 0.15);
}

#sexo {
width:200px;
}

#cadastro {
width:300px;

}

legend {
text-align:center;
}

#imp{
background-color:blue;
height:20px;
}




.hint {
background-color: #FFFBE4;
border-radius: 3px;
border: 1px solid #CCC;
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
display: inline-block;
font-size: 15px;
margin-left: 20px;
padding: 3px;
}
.hint {
display: none;
}
input:focus + .hint{
display: inline-block;
}